{% extends "base.html" %}
 
{% block title %}FAQ - Dragonfire Meadery{% endblock %}
 
{% block content %}


<div class="main container py-5">
  <h2 class="title">Questions About Mead?</h2>
  <div class="accordion" id="faqAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button question" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What is Mead?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
        <div class="accordion-body answer">
          <p>Mead is a fermented drink made with honey and water. It's often called "honey wine," though it's not really a wine—that's just an easy way to compare the drink to something more people have heard of before!</p>
          <p>Mead is actually one of the oldest beverages in the world. With every sip, we participate in a global tradition. There are records of fermented honey drinks in southern Africa dating back 20,000 years, northern China around 7,000 B.C., and India as early as 1700 B.C. Mead was first seen in Europe and Scandinavia around the Bronze age, and from then until about the 1600s, we know of mead as the drink of northern European kings and commoners alike. After that era, ale and wine began to grow more popular, and generally replaced mead as the drink around the table.</p>
          <p>Nowadays, people are rediscovering the complex, delicious, and drinkable flavors of mead. So many of our ancestors came together over cups of mead at one time or another, and at Dragonfire, it is our passion and joy to introduce people to the ancient and modern delights of mead. We love to share our mead with friends, family, and loved ones, bringing people together in community.</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button question collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          What's the difference between mead and wine?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
        <div class="accordion-body answer">
          <p>Mead is not actually a wine (though like wine, it’s fermented). Wine is specifically made by fermenting fruit juices, usually grapes. Mead is made by fermenting honey. However, mead can be flavored with fruit, and several of ours are—like the blueberry and apple varieties.</p>
          <p>We do offer a few wines from time to time at Dragonfire - currently, one wine has a base of grapes, and another is made of maple sap. You can find all of our meads and wines here.</p>
          <p>At Dragonfire Meadery, unlike many other meadmakers and winemakers, we do not use sulfites in the meadmaking or winemaking process. You may know of sulfites as the common preservative in wine that can cause irritation and allergic reactions in some people. For that reason, our mead and wine only contain naturally occurring sulfites.</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button question collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          What does mead taste like?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
        <div class="accordion-body answer">
          <p>That depends on the batch of mead you’re tasting! Meads have a huge range of flavor, and that’s before you even think of the ones with added fruit or herbs.</p>
          <p>Overall, though, mead has a generally mild and lightly sweet flavor. Some meads are much more dry, and some are sweeter, and all of them have different aromas and characteristics based on the honey they’re made from and their particular fermentation process.</p>
          <p>At Dragonfire, we love to be creative with meads, and regularly offer new flavors for our drinkers to try. We do keep familiar favorites around, though! You can check out our list of current offerings here.</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button question collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          I’m more of a beer drinker. What kind of mead would I like?
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#faqAccordion">
        <div class="accordion-body answer">
          <p>put answer here</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button question collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          What’s the alcohol content of mead?
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#faqAccordion">
        <div class="accordion-body answer">
          <p>put answer here</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSix">
        <button class="accordion-button question collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Where do I buy Dragonfire mead?
        </button>
      </h2>
      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#faqAccordion">
        <div class="accordion-body answer">
          <p>You can come right to our meadery and buy bottles by appointment! Not local? You can order online to have it shipped. Just visit our Shop Page.</p>
          <p>Otherwise, if you’re looking for where to buy our mead near you, click here for a list of all the package stores and distributors that carry Dragonfire.</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSeven">
        <button class="accordion-button question collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          How would I enjoy drinking mead?
        </button>
      </h2>
      <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#faqAccordion">
        <div class="accordion-body answer">
          <p>Mead can be enjoyed on its own, before or with a meal, or after a meal. Any time you’d like to savor a beverage, take a light and sweet break, or gather with friends, mead is a tasty companion.</p>
          <p>Stay tuned for more recipes and pairing guides, but for now, we’d love to recommend some delicious combinations:</p>
          <ul class="list">
            <li>Pair our cranberry and traditional meads with turkey and other fowl</li>
            <li>Pair our elderberry mead with game meats</li>
            <li>Pair our blueberry mead with red meat</li>
          </ul>
          <p>Our meads play well with others and are great for mixing as well, try our traditional with a shot of whiskey.</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingEight">
        <button class="accordion-button question collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          Is mead gluten-free?
        </button>
      </h2>
      <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#faqAccordion">
        <div class="accordion-body answer">
          <p>Most meads are gluten-free, but not all of them are. Our current selection of meads do not contain any amount of gluten, but if you are concerned please ask so you’ll always be sure of what to buy and drink.</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingNine">
        <button class="accordion-button question collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          What flavors of mead do you offer?
        </button>
      </h2>
      <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#faqAccordion">
        <div class="accordion-body answer">
          <p>Check here for our most up-to-date offerings. We’ll always have our classic, honey-forward traditional mead, but we also have flavors including apple, blueberry, elderberry, and even maple.</p>
          <p>Crafting new flavors is one of the joys of Dragonfire Meadery - we love to keep new ideas and tastes coming!</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTen">
        <button class="accordion-button question collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
          What’s your mead flavor creation process?
        </button>
      </h2>
      <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#faqAccordion">
        <div class="accordion-body answer">
          <p>As the head meadmaker, Derek loves to experiment with new flavors. The process of creation begins with flavor ideas - whether it’s inspiration from a fruit or herb or even some experiments he’s done in the past.</p>
          <p>Then, the first practical step is to brew a proof of concept to see how the flavors blend together. If the proof of concept tastes good, Derek will move to the next step: refining the flavors and correcting any issues that may have come up during the first creation.</p>
          <p>Next, if he’s feeling good about the test batch, Derek will share samples with friends and family to ask their thoughts and feedback on the flavor.</p>
          <p>Finally, pending any additional refinements needed, Derek will plan for ingredient sourcing and scheduling mead making time for the new flavor batch.</p>
          <p>This process is a big reason Derek fell in love with mead making - the iterative creation and the joy of sharing new flavors with those close to him are so special.</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingEleven">
        <button class="accordion-button question collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
          Do you supply for events?
        </button>
      </h2>
      <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#faqAccordion">
        <div class="accordion-body answer">
          <p>We do! Per the liquor laws in the state of Connecticut, we can sell a maximum of two(2) cases of mead to an individual buyer. Each case has 12 bottles, and each bottle is 750ml, which is about 3-4 glasses of mead. So, two cases is generally just fine for a small to mid-size gathering.</p>
          <p>For a bigger gathering or event, we offer wholesale options, which would go through the facility or organization that’s hosting or coordinating your event.</p>
          <p>We’d love to supply your event, party, Ren Faire, celebration, and other festivities with mead, so just give us a call or email and we’ll figure out the best option for you!</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwelve">
        <button class="accordion-button question collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
          How long does mead keep after it’s open?
        </button>
      </h2>
      <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#faqAccordion">
        <div class="accordion-body answer">
          <p>Mead is pretty sturdy, as a fermented beverage. Unlike wine or beer, it doesn’t spoil or lose its flavor quickly after opening. Make sure to keep an open bottle of your mead refrigerated, and it will still be just as fresh and tasty several weeks later.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}