{% extends "base.html" %}
 
{% block title %}Home - Dragonfire Meadery{% endblock %}
 
{% block content %}

  <div class="main">
<div class="title">
    <h1 id="mainTitle">Dragonfire Meadery</h1>
    <p class="secondary">Artisnal Mead handcrafted in small batches</p>
</div>



  <div class="container2">
  <img src="/static/images/derekBatz.png" alt="Derek Batz" class="image mead-maker">
  <div class="text">
    <h3 class="card-title">The Mead Maker</h3>
    <h5 id="mead-maker" class="card-text">Derek Batz - Owner/Head Mead maker <br>
Dragonfire Meadery was born from a passion of making mead and enjoying it with family and friends.</h5>
    <div class="answer">
      <p class="card-text home-page">Derek Batz is the Owner and Head Meadmaker behind Dragonfire Meadery. Long before Derek had ever heard of mead, 
      he was interested in winemaking, his first introduction to fermented drinks. Over the years, Derek dabbled, 
      creating a few wines from kits to share with friends. Then in 2010, Derek found a mead making class. He decided to 
      sign up out of curiosity - he had no idea what mead even was! It quickly became clear, though, that meadmaking was his 
      true passion. Mead’s complex yet delicate taste, the meadmaker’s ability to create so many varieties and flavors, and the 
      joy of the entire process had him hooked. <br>
      <br>Derek began to share his test batches with friends and family, at first as a fun addition to gatherings. One of the best parts 
      of crafting a drink is getting to bring people together to share it, after all! Soon, though, the folks who tried his mead were 
      excited to try more. Then, they began encouraging Derek to pursue mead making professionally. <br>
      <br>Derek knew that making mead was his dream. With the support of his peers and loved ones, he looked into expanding his hobby 
      into a true meadery, and decided to take the leap. In 2016, he created the Dragonfire Mead brand, and he opened the doors of 
      Dragonfire Meadery for the first time in Hartford, CT. As the business grew and Derek built up the operation while refining his 
      skills as a meadmaker, they eventually found and moved to Dragonfire Meadery’s current home in Coventry, Connecticut.<br>
      <br>Now, Dragonfire Meadery is a place of creation for flavorful, beautifully crafted meads and wines. The mission of the meadery 
      is to offer delectable drinks to the world to share in community and joy. Take a look around– pick out the meads you’re most excited 
      about! Drop us a line or drop by in person to order some mead or just to tell us your thoughts. <br>
      <br>Whether you’re brand new to mead or a longtime connoisseur, we are thrilled to share the beverages of Dragonfire Meadery with 
      you and all the people you can’t wait to raise a glass with!</p>
    </div>
  </div>
</div>

<div class="card-text appointment">
  <h4>Schedule a time to stop by and purchase/ pick up an order.<br>We do not have tastings available yet</h4>
  <a href="#"></a>
</div>

<div id="conatct">
  <h3 class="card-title">Contact Us</h3>
  <p class="card-text">Have questions about our meads, our meadery, Events, or just want to say hi? We would love to hear from you! 
    Email us at <a href="mailto:dragonfiremeadery@gmail.com">dragonfiremeadery@gmail.com</a></p>
</div>


{% endblock %}
